---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Shobo - Abdoo's E-Shop">
	<main>

		<div class="le-intro">
			<h1 class="bold" id="leSlogan">Shobo - Your next favorite online shop</h1>
		</div>

		<div class="stuff">
			
		</div>

	</main>
</Layout>

<style>
	.le-intro {
		padding: 50px 100px;
		font-size: 22px;
	}
</style>