---
import Layout from '../layouts/Layout.astro';
import Item from '../components/Item.astro';
---

<Layout title="Shobo - Abdoo's E-Shop">
	<main>

		<div class="le-intro">
			<h1 class="bold" id="leSlogan">Shobo - Your next favorite online shop</h1>
		</div>

		<div class="stuff">
			<h1>What's that?</h1>
			<p>It's a site that doesn't really sell stuff, but it might in the future (not sure)</p>
		</div>

		<li class="items">
			<Item title='A Cool Bike' img_url='/img/bag.svg' href='/no' />
		</li>

	</main>
</Layout>

<style>
  
	main {
		padding: 20px 10px;
	}

	.le-intro {
		padding-top: 6vw;
		text-align: center;
	  	font-size: 22px;
	}
  
	.stuff {
		border-radius: 10px;
		padding: 15px 1vw;
		color: #fdfdfd;
		background-color: #357960;
		width: 90%;
	}

	.items {
		padding: 20px 0px;
		list-style: none;
	}

  </style>